.container-header {
  margin-left: 25px;
  margin-right: 25px;
}

.container-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title {
  font-size: 24px;
}

.row {
  display: flex;
  align-items: center;
}

.fa-plus-circle {
  color: rgb(248, 231, 28);
  font-size: 28px;
  padding-left: 25px;
}

.fa-bars {
  font-size: 25px;
}

.fa-search {
  font-size: 25px;
  padding-right: 25px;
}

@media (min-width:769px) and (max-width:1023px) {
  .fa-plus-circle {
    padding-left: 28px;
  }
  .fa-search {
    padding-right: 28px;
  }
  .container-header {
    margin-right: 40px;
    margin-left: 40px;
  }
}

/* Ipad */

@media (min-width: 769px) and (max-width: 1023px) {}

/* Small tablet */

@media (min-width: 481px) and (max-width: 768px) {}

/* Phones */

@media (max-width: 480px) {}